.desktop-carousal-container{
	padding-top:10px;

}

.slide-navigation-bar{
	background:#f1f1f1;
	text-align:center;
	padding:15px;
}

.slide-navigation-bar > button{
	outline:none;
	border:none;
	background: #80ccff;
	color:#ffffff;
	cursor:pointer;
	padding:20px;
	margin-left:5px;
}

.slide-navigation-bar > button:hover{
	background: #80eeff;
}

.slide-navigation-bar .prev-btn{
	border-radius : 4px 0 0 4px;
}

.slide-navigation-bar .next-btn{
	border-radius : 0 4px 4px 0;
}

.image-arr-container{
	overflow:hidden;
}

.image-container{
	padding:5px;
	float:left;
	width:auto;
}

.image-caption{
	color:#80ccff;
	padding:2px;
}
